{
    "parserOptions": {
        "ecmaVersion":2018        
    },
    "extends": ["eslint:recommended",
        "plugin:prettier/recommended"],
    "env": {
        "es6": true,
        "node": true,
        "mocha": true

    },
    "rules": {
        "no-console":"warn"
    }
}